/* Override some defaults */
html, body {
  background-image: url("/images/paper.png");
}

.navbar-inner {
	background-image: url("/images/snow.png");  
}

.content {
	padding:50px 0px 0px 0px;
}

.form-search {
	border:0px;
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background-color: rgba(255, 255, 255, 0.01);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

	padding:5px;
}

.page-header{
	padding:2px;
}



.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(0, 0, 0);
	/* RGBa  */
	background-color: rgba(0, 0, 0, 0.032);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
